<div class="user-profile">
  <div class="user-profile-container">
    <h2>User Profile</h2>
    <div class="profile-info">
      <div class="profile-item">
        <span class="label">Username:</span>
        <span class="value">{{currentUser.username}}</span>
      </div>
      <div class="profile-item">
        <span class="label">Email:</span>
        <span class="value">{{currentUser.email}}</span>
      </div>
      <div class="profile-item">
        <span class="label">Created At:</span>
        <span class="value">{{currentUser._createdOn}}</span>
      </div>

      <div class="profile-item">
        <span class="label">Updated At:</span>
        <span class="value">09.06.2025.</span>
      </div>
    </div>
  </div>
  <section class="product_section">
    <div class="container">
      <div class="product_heading">
        <h2>Your watch</h2>

        <h2>Your watches</h2>
      </div>
      <div class="product_container">
        <p class="no-watches">You haven't added any watches yet.</p>
      </div>
    </div>
  </section>
</div>
