.user-profile {
  min-height: 100vh;
  background-color: #f4f4f9;
}

.user-profile-container {
  border: 2px solid #8019c8;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f4f4f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-item {
  display: flex;
  gap: 10px;
}

.label {
  font-weight: bold;
}

li {
  list-style: none;
}

.loading,
.error,
.no-data {
  text-align: center;
  padding: 20px;
}
.error {
  color: red;
}

.product_container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
