<div class="watch-details-container">
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <ng-container *ngIf="!isLoading">
    <section class="details-section" *ngIf="!!watch">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="details-image-container">
              <img
                src="{{ watch.imageUrl }}"
                alt="{{ watch.brand }}"
                class="details-image"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="details-content">
              <h1 class="details-title">{{ watch.brand }}</h1>
              <h2 class="details-title">{{ watch.model }}</h2>
              <div class="details-price">$ {{ watch.price }}</div>
              <div class="details-specs">
                <h3>Specifications</h3>
                {{ watch.summary }}
                <div class="created-on">
                  {{ watch._createdOn | date : "medium" }}
                </div>
                <div *ngIf="watch._updatedOn" class="updated-on">
                  {{ watch._updatedOn| date : "medium" }}
                </div>
              </div>

              <div
                *ngIf="watch?._ownerId === currentUser?._id"
                class="details-actions"
              >
                <a routerLink="/watches/{{ watch._id }}/edit" class="btn-edit">
                  Edit
                </a>
                <button class="btn-delete" (click)="openDeleteModal()">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-delete-modal
    *ngIf="isModalOpen"
    [watchName]="watch.brand"
    [watchModel]="watch.model"
    (confirm)="confirmDeleteWatch()"
    (cancel)="closeDeleteModal()"
    >
    </app-delete-modal>
  </ng-container>

  <div class="comments-container">
    <h3>Comments</h3>

    <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
    <p *ngIf="isLoading">Loading comments...</p>
    <ul class="comment-list">
      <ng-container *ngFor="let comment of comments">
        <li class="comment-item">
          <p class="comment-text">{{ comment.comment }}</p>
          <p class="comment-meta">
            By: {{comment.author.username}} - {{comment._createdOn | date: 'MMMM d, y'}}
          </p>
        </li>
      </ng-container>
    </ul>
    <p *ngIf="comments.length === 0">No comments yet.</p>
    <div *ngIf="isLoggedIn && !isOwner" className="add-comment-section">
      <form #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm)">
        <textarea
          name="comment"
          class="comment-textarea"
          placeholder="Add a comment..."
          required
          minlength="2"
          ngModel
          #comment="ngModel"
        ></textarea>
        <p>
          <span>{{errorMessage}}</span>
        </p>
        <input class="add-comment-button" value="Add Comment" type="submit" />
      </form>
    </div>
  </div>
</div>
