<div class="watch-details-container">
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <ng-container *ngIf="!isLoading">
    <section class="details-section" *ngIf="!!watch">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="details-image-container">
              <img
                src="{{ watch.imageUrl }}"
                alt="{{ watch.brand }}"
                class="details-image"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="details-content">
              <h1 class="details-title">{{ watch.brand }}</h1>
              <h2 class="details-title">{{ watch.model }}</h2>
              <div class="details-price">$ {{ watch.price }}</div>
              <div class="details-specs">
                <h3>Specifications</h3>
                {{ watch.summary }}
                <div class="created-on">
                  Created on: <b>{{ watch._createdOn | date : "medium" }}</b>
                </div>
                <div *ngIf="watch._updatedOn" class="updated-on">
                  Updated on: <b>{{ watch._updatedOn | date : "medium" }}</b>
                </div>
              </div>

              <div
                *ngIf="watch?._ownerId === currentUser?._id"
                class="details-actions"
              >
                <a routerLink="/watches/{{ watch._id }}/edit" class="btn-edit">
                  Edit
                </a>
                <button class="btn-delete" (click)="openWatchDeleteModal()">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-delete-modal
      *ngIf="isWatchDeleteModalOpen"
      [watchName]="watch.brand"
      [watchModel]="watch.model"
      (confirm)="confirmDeleteWatch()"
      (cancel)="closeWatchDeleteModal()"
    >
    </app-delete-modal>
  </ng-container>

  <div class="comments-container">
    <h3>Comments</h3>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="isLoading">Loading comments...</p>
    <ul class="comment-list">
      <ng-container *ngFor="let comment of comments">
        <li class="comment-item">
          <div
            *ngIf="editingCommentId === comment._id"
            class="edit-comment-form"
          >
            <textarea
              [(ngModel)]="editCommentText"
              class="edit-comment-textarea"
              placeholder="Edit your comment..."
              required
              minlength="2"
              #editComment="ngModel"
            ></textarea>
            <ng-container *ngIf="editComment.invalid && editComment.touched">
              <p *ngIf="editComment.errors?.['required']" class="error-message">
                Comment is required!
              </p>
              <p *ngIf="editComment.errors?.['minlength']" class="error-message">
                Comment must be at least 2 characters long!
              </p>
            </ng-container>
            <div class="edit-comment-actions">
              <button
                class="btn-save"
                (click)="saveEditComment(comment._id)"
                [disabled]="editComment.invalid"
              >
                Save
              </button>
              <button class="btn-cancel" (click)="cancelEditComment()">
                Cancel
              </button>
            </div>
          </div>



          <div *ngIf="editingCommentId !== comment._id">
            <p class="comment-text">{{ comment.comment }}</p>
            <p class="comment-meta create">
              By: {{ comment.author.username }} -
              {{ comment._createdOn | date : "MMMM d, y" }}
            </p>
            <p *ngIf="comment._updatedOn" class="comment-meta update">
              Edited - {{ comment._updatedOn | date : "MMMM d, y" }}
            </p>

            <div *ngIf="isLoggedIn" class="comment-actions">
              <button
                *ngIf="canEditComment(comment)"
                class="btn-edit-comment"
                (click)="startEditComment(comment)"
              >
                Edit
              </button>
              <button
                *ngIf="canDeleteComment(comment)"
                class="btn-delete-comment"
                (click)="openCommentDeleteModal(comment._id)"
              >
                Delete
              </button>
            </div>
          </div>
        </li>
      </ng-container>
      
    </ul>
    <p *ngIf="comments.length === 0">No comments yet.</p>
    <div *ngIf="isLoggedIn && !isOwner" className="add-comment-section">
      <form *ngIf="!isEditMode" #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm)">
        <textarea
          name="comment"
          class="comment-textarea"
          placeholder="Add a comment..."
          required
          minlength="2"
          ngModel
          #comment="ngModel"
        ></textarea>
        <ng-container *ngIf="addCommentForm.invalid && addCommentForm.touched">
          <p *ngIf="comment.errors?.['required']" class="error-message">
            Comment is required!
          </p>
          <p *ngIf="comment.errors?.['minlength']" class="error-message">
            Comment must be at least 2 characters long!
          </p>
        </ng-container>
        <p>
          <span>{{ errorMessage }}</span>
        </p>
        <button
          [disabled]="addCommentForm.invalid"
          class="add-comment-button"
          type="submit"
        >
          Add Comment
        </button>
      </form>
    </div>
  </div>

  <app-comment-delete-modal 
    *ngIf="isCommentDeleteModalOpen"
    (confirm)="deleteComment(commentToDelete)"
    (cancel)="closeCommentDeleteModal()"
  >
  </app-comment-delete-modal>
</div>
