<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" routerLink="/home">
        <span> HandTime </span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/about"> About</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" routerLink="/watches">Products</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/testimonial">Testimonial</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'" *ngIf="isLogged">
            <a class="nav-link" routerLink="/watches/add">Add watch</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'" *ngIf="isLogged">
            <a class="nav-link" routerLink="#" (click)="logoutHandler()"
              >Logout</a
            >
          </li>
          <li class="nav-item" *ngIf="isLogged">
            WELCOME {{ currentUser.username | uppercase }}
          </li>
          <li class="nav-item" *ngIf="!isLogged">WELCOME GUEST</li>
        </ul>
        <div
          class="user_optio_box"
          [routerLinkActive]="'active'"
          *ngIf="isLogged"
        >
          <a routerLink="/profile">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
