<div class="about-container">
  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="assets/images/a-1.jpg" alt="" />
            </div>
            <div class="img-box b2">
              <img src="assets/images/a-2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>About This App</h2>
            <p *ngIf="readMore">{{ description | slice : 0 : 137 }}...</p>
            <p *ngIf="!readMore">
              This is an application for lovers and admirers of wristwatches.
              Here you can browse watches added by other users, as well as add
              comments about them. After registering, you have the opportunity
              to add an unlimited number of watches that you like.
            </p>
            <button (click)="toggleReadMore()">
              {{ readMore ? "Read More" : "Real Less" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="half" id="map"></div>
</div>

<div class="contact_us-container">
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>HandTime</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>About Us</h5>
            <div>
              <div class="img-box">
                <img
                  src="assets/images/location-white.png"
                  width="18px"
                  alt=""
                />
              </div>
              <p>Novi pazar, Kniaz Boris I str.</p>
            </div>
            <div>
              <div class="img-box">
                <img
                  src="assets/images/telephone-white.png"
                  width="12px"
                  alt=""
                />
              </div>
              <p>+359 1234567890</p>
            </div>
            <div>
              <div class="img-box">
                <img
                  src="assets/images/envelope-white.png"
                  width="18px"
                  alt=""
                />
              </div>
              <p>handtime@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>Informations</h5>
            <p>
              This is our watch catalog. You can add, edit and remove watches.
              You also have the opportunity to comment on watches added by other
              users.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>Watches</h5>
            <div class="insta_container">
              <div class="row m-0">
                <div class="col-4 px-0">
                  <a routerLink="/watches">
                    <div class="insta-box b-1">
                      <img src="assets/images/w1.png" alt="" />
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a routerLink="/watches">
                    <div class="insta-box b-1">
                      <img src="assets/images/w2.png" alt="" />
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a routerLink="/watches">
                    <div class="insta-box b-1">
                      <img src="assets/images/w3.png" alt="" />
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a routerLink="/watches">
                    <div class="insta-box b-1">
                      <img src="assets/images/w4.png" alt="" />
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a routerLink="/watches">
                    <div class="insta-box b-1">
                      <img src="assets/images/w5.png" alt="" />
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a routerLink="/watches">
                    <div class="insta-box b-1">
                      <img src="assets/images/w6.png" alt="" />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
