<div class="about-container">
  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="assets/images/a-1.jpg" alt="" />
            </div>
            <div class="img-box b2">
              <img src="assets/images/a-2.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>About This App</h2>
            <p *ngIf="readMore">{{ description | slice : 0 : 137 }}...</p>
            <p *ngIf="!readMore">
              This is an application for lovers and admirers of wristwatches.
              Here you can browse watches added by other users, as well as add
              comments about them. After registering, you have the opportunity
              to add an unlimited number of watches that you like.
            </p>
            <button (click)="toggleReadMore()">
              {{ readMore ? "Read More" : "Real Less" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
