<div class="box">
  <div class="box-content">
    <div class="img-box">
      <img src="{{ watch?.imageUrl }}" alt="{{ watch?.brand }}" />
    </div>
    <div class="detail-box">
      <div class="text">
        <h6>{{ watch?.brand }}</h6>
        <h5><span>$</span> {{ watch?.price }}</h5>
      </div>
      <div class="like">
        <button *ngIf="isLogged" (click)="toggleLike()" [class.liked]="isLiked">{{isLiked ? 'Unlike' : 'Like'}}</button>
        <div class="like-count">
          <i class="fa" [ngClass]="isLiked ? 'fa-heart' : 'fa-heart-o'"></i>
          {{ likeCount }}
        </div>
      </div>
    </div>
  </div>
  <div class="btn-box">
    <a [routerLink]="['/watches', watch?._id]">Details</a>
  </div>
</div>
