<div class="modal-overlay">
  <div class="modal-backdrop" (click)="cancel.emit()"></div>
  <div class="modal-container">
    <button class="modal-close-button" (click)="cancel.emit()">&times;</button>
    <h2 class="modal-title">Confirm Deletion</h2>
    <p class="modal-message">
      Are you sure you want to delete <b>{{ watchName }} {{ watchModel }}</b
      >? This action cannot be undone.
    </p>
    <div class="modal-actions">
      <button class="modal-btn modal-btn-cancel" (click)="cancel.emit()">
        Cancel
      </button>
      <button class="modal-btn modal-btn-confirm" (click)="confirm.emit()">
        Delete
      </button>
    </div>
  </div>
</div>
