<section class="product_section">
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!isLoading" class="container">
    <div class="product_heading">
      <h2>All Watches</h2>
    </div>

    <app-watch-search
      *ngIf="watchList.length > 0"
      (searchBrandTextChange)="onSearchInput($event)"
    ></app-watch-search>

    <div class="product_container">
      <app-watch-list-item
        *ngFor="let watch of filteredWatchList"
        [watch]="watch"
      ></app-watch-list-item>
    </div>

    <div *ngIf="watchList.length === 0">
      <div class="product_container">
        <p class="no-watches">No watches added yet!</p>
      </div>
    </div>
  </div>
</section>
