.clock {
  color:black;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 300px;
  min-width: 200px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.5;
  border: 2px solid #8019c8;
  border-radius: 5px;
  margin: 10px auto;
}

.day {
  margin-right: 5px;
}
