<div class="hero_area">
  <section class="slider_section">
    <div class="slider_bg_box">
      <img src="assets/images/slider-bg.jpg" alt="" />
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>Stylish Watches</h1>
                  <p>
                    Our watches are designed to be both stylish and functional.
                    Whether you're dressing up for a special occasion or just
                    want to add a touch of elegance to your everyday look, we
                    have the perfect watch for you.
                  </p>
                  <div class="btn-box">
                    <a routerLink="/watches" class="btn1"
                      >Products</a
                    >
                    <a routerLink="/about" class="btn2"> About Us </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="service_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/feature-1.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>Fast Delivery</h5>
            <p>variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/feature-2.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>Free Shiping</h5>
            <p>variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/feature-3.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>Best Quality</h5>
            <p>variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/feature-4.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>24x7 Customer support</h5>
            <p>variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
